Tests/dewsGatekeeper/gatekeeper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="Gatekeeper"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="ndg:security:Gatekeeper"
 xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
 targetNamespace="ndg:security:Gatekeeper">

  <wsdl:types>
    <xsd:schema>
      <xsd:element name="get">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userX509Cert" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="userAttributeCertificate" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="geoserverRequest" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponse">
        <xsd:complexType>
		  <xsd:sequence>
	        <xsd:element name="geoServerResponse" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		  </xsd:sequence>
		</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="getInputMsg">
    <wsdl:part name="parameters" element="get"/>
  </wsdl:message>

  <wsdl:message name="getOutputMsg">
    <wsdl:part name="parameters" element="getResponse"/>
  </wsdl:message>

  <wsdl:portType name="Gatekeeper">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getInputMsg"/>
      <wsdl:output message="tns:getOutputMsg"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GatekeeperBinding" type="tns:Gatekeeper">
    <soap:binding
     style="document"
     transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <soap:operation soapAction="get"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="GatekeeperService">
    <wsdl:documentation>DEWS Gatekeeper web service</wsdl:documentation>
    <wsdl:port name="Gatekeeper" binding="tns:GatekeeperBinding">
      <soap:address location="http://localhost:5000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
