NDGSecurity/java/DEWS/SessionMgr/appClientModule/META-INF/wsdl/sessionMgr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:ndg:security:sessionMgr" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SessionMgr" targetNamespace="urn:ndg:security:sessionMgr">

  <wsdl:types>
    <xsd:schema targetNamespace="urn:ndg:security:sessionMgr">
      <xsd:element name="addUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="passphrase" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="addUserResponse">
        <xsd:complexType/>
      </xsd:element>

      <xsd:element name="connect">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="passphrase" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="1" name="createServerSess" type="xsd:boolean"/>
		    <xsd:element maxOccurs="1" minOccurs="1" name="getCookie" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="connectResponse">
        <xsd:complexType>
		  <xsd:sequence>
		    <xsd:element maxOccurs="1" minOccurs="1" name="proxyCert" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="1" name="proxyPriKey" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="1" name="userCert" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="0" name="cookie" type="xsd:string"/>
		  </xsd:sequence>
		</xsd:complexType>
      </xsd:element>

      <xsd:element name="disconnect">
        <xsd:complexType>
		  <xsd:sequence>
		    <xsd:element maxOccurs="1" minOccurs="0" name="userCert" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="0" name="sessID" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="0" name="encrSessionMgrURI" type="xsd:string"/>
		  </xsd:sequence>
		</xsd:complexType>
      </xsd:element>

      <xsd:element name="disconnectResponse">
        <xsd:complexType/>
      </xsd:element>
            
      <xsd:element name="getAttCert">
        <xsd:complexType>
		  <xsd:sequence>
		    <xsd:element maxOccurs="1" minOccurs="0" name="userCert" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="0" name="sessID" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="0" name="encrSessionMgrURI" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="1" name="attAuthorityURI" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="0" name="attAuthorityCert" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="0" name="reqRole" type="xsd:string"/>
		    <xsd:element maxOccurs="1" minOccurs="1" name="mapFromTrustedHosts" type="xsd:boolean"/>
		    <xsd:element maxOccurs="1" minOccurs="1" name="rtnExtAttCertList" type="xsd:boolean"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="extAttCert" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="extTrustedHost" type="xsd:string"/>
   		  </xsd:sequence>
		</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="getAttCertResponse">
        <xsd:complexType>
	      <xsd:sequence>
	        <xsd:element maxOccurs="1" minOccurs="0" name="attCert" type="xsd:string"/>
	        <xsd:element maxOccurs="1" minOccurs="0" name="msg" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="extAttCertOut" type="xsd:string"/>
	      </xsd:sequence>
	    </xsd:complexType>
      </xsd:element>

      <xsd:element name="getX509Cert">
        <xsd:complexType/>
      </xsd:element>
      
      <xsd:element name="getX509CertResponse">
        <xsd:complexType>
		  <xsd:sequence>
		    <xsd:element maxOccurs="1" minOccurs="1" name="x509Cert" type="xsd:string"/>
		  </xsd:sequence>
		</xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>
 
  <wsdl:message name="addUserInputMsg">
    <wsdl:part element="tns:addUser" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addUserOutputMsg">
    <wsdl:part element="tns:addUserResponse" name="parameters"/>
  </wsdl:message>
 
  <wsdl:message name="connectInputMsg">
    <wsdl:part element="tns:connect" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="connectOutputMsg">
    <wsdl:part element="tns:connectResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="disconnectInputMsg">
    <wsdl:part element="tns:disconnect" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="disconnectOutputMsg">
    <wsdl:part element="tns:disconnectResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAttCertInputMsg">
    <wsdl:part element="tns:getAttCert" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAttCertOutputMsg">
    <wsdl:part element="tns:getAttCertResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getX509CertInputMsg">
    <wsdl:part element="tns:getX509Cert" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getX509CertOutputMsg">
    <wsdl:part element="tns:getX509CertResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="SessionMgr">
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserInputMsg"/>
      <wsdl:output message="tns:addUserOutputMsg"/>
    </wsdl:operation>

    <wsdl:operation name="connect">
      <wsdl:input message="tns:connectInputMsg"/>
      <wsdl:output message="tns:connectOutputMsg"/>
    </wsdl:operation>

    <wsdl:operation name="disconnect">
      <wsdl:input message="tns:disconnectInputMsg"/>
      <wsdl:output message="tns:disconnectOutputMsg"/>
    </wsdl:operation>

    <wsdl:operation name="getAttCert">
      <wsdl:input message="tns:getAttCertInputMsg"/>
      <wsdl:output message="tns:getAttCertOutputMsg"/>
    </wsdl:operation>

    <wsdl:operation name="getX509Cert">
      <wsdl:input message="tns:getX509CertInputMsg"/>
      <wsdl:output message="tns:getX509CertOutputMsg"/>
    </wsdl:operation>
  </wsdl:portType>  
  
  <wsdl:binding name="SessionMgrBinding" type="tns:SessionMgr">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="addUser">
      <soap:operation soapAction="addUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output> 
    </wsdl:operation>
    
    <wsdl:operation name="connect">
      <soap:operation soapAction="connect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output> 
    </wsdl:operation>
    
    <wsdl:operation name="disconnect">
      <soap:operation soapAction="disconnect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output> 
    </wsdl:operation>
    
    <wsdl:operation name="getAttCert">
      <soap:operation soapAction="getAttCert"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output> 
    </wsdl:operation>

    <wsdl:operation name="getX509Cert">
      <soap:operation soapAction="getX509Cert"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output> 
    </wsdl:operation>    
  
  </wsdl:binding>

  <wsdl:service name="SessionMgrService">
    <wsdl:documentation>NERC Data Grid Session Manager web service</wsdl:documentation>
    <wsdl:port binding="tns:SessionMgrBinding" name="SessionMgr">
      <soap:address location="http://localhost:5000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
