NDGSecurity/python/Tests/etreewss/echo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="urn:ndg:security:test:wssecurity"
  targetNamespace="urn:ndg:security:test:wssecurity">
  <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ndg:security:test:wssecurity">
      <xsd:element name="Echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="EchoIn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EchoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="EchoResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
  </xsd:schema>
  </types>

  <message name="EchoInputMsg">
    <part name="parameters" element="tns:Echo" />
  </message>
  <message name="EchoOutputMsg">
    <part name="parameters" element="tns:EchoResponse"/>
  </message>

  <portType name="Echo">
    <operation name="Echo">
      <input message="tns:EchoInputMsg"/>
      <output message="tns:EchoOutputMsg"/>
    </operation>
  </portType>

  <binding name="EchoBinding" type="tns:Echo">
    <soap:binding style="document" 
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Echo">
      <soap:operation soapAction="Echo"/>
	<input>
   	  <soap:body use="literal"/> 
	</input>
	<output>
	  <soap:body use="literal"/> 
	</output>
    </operation>
  </binding>

  <service name="EchoService">
    <port name="Echo" binding="tns:EchoBinding">
      <soap:address location="http://localhost:7100/Echo"/>
    </port>
  </service>

</definitions>
