NDGSecurity/python/Tests/xml/schema2.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.esg.org/"
    xmlns="http://www.esg.org/"
    elementFormDefault="qualified">
    <xs:element name="groupRole">
        <xs:complexType>
            <xs:attribute name="group" type="xs:string" use="required"/>
            <xs:attribute name="role" type="xs:string" default="default" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>